<main class="column-container">
  <md-toolbar color="primary" class="navbar">
    <span>
      <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    </span>
    <span>Jun Kawa</span>
  </md-toolbar>

  <div class="spacer">
    <md-sidenav-container >
      <md-sidenav #sidenav mode="over" opened="false">
        <nav class="nav-column" >
          <button md-button *ngFor="let btn of navButtons" class="nav-button" (click)="navToggle(btn.name)" [routerLink]="btn.route" routerLinkActive="active">
            <md-icon>{{ btn.icon }}</md-icon>
            {{ btn.name }}
          </button>
        </nav>
      </md-sidenav>
      <div class="main-content">
        <!--<div [ngSwitch]="switchBool" class="column-container">-->
        <div class="column-container">
          <router-outlet></router-outlet>
        </div>
        <md-toolbar class="footer">
          <span class="footer-name">© 2017 Jun Kawa</span>
          <span class="spacer"></span>
          <span>
              <a href="https://www.linkedin.com/in/ykawa/">LinkedIn</a>
              |
              <a href="https://github.com/hubukinokaze/">GitHub</a>
            </span>
        </md-toolbar>
      </div>

    </md-sidenav-container>
  </div>
</main>
