main, mat-sidenav-container{
  height: 100%;
}

a {
  text-decoration: none;
  transition:all linear 0.5s;
}

span a {
  color: white;
}

a:hover {
  color: #F6A03D !important;
}

button {
  transition:all linear 0.5s;
}

button:hover {
  color: #34515e !important;
  background-color: #F6A03D !important;
}

h3 {
  margin-top: 40px !important;
  margin-bottom: 5px !important;
}

hr.style1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(52,81,94, 0.75), rgba(0, 0, 0, 0));
}

mat-toolbar.navbar span {
  padding: 5px;
}

mat-toolbar.footer {
  background-color: #8eacbb;
}

p {
  font-size: large;
  line-height:2;
}

.spacer {
  flex: 1 1 auto;
}

.column-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.column-center-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-card {
  min-width: 250px;
  max-width: 45%;
  margin: 50px;
}

.card-header {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.profile-img {
  background-image: url('../assets/img/profile1.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

.nav-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1 1 auto;
}

.nav-button {
  padding: 30px;
}

.project-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-flow: row wrap;
  flex: 1 1 auto;
  min-height: 500px;
  height: 100%;
}

.card-title, h3{
  font-size: 25px !important;
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 300px;
  max-width: 300px;
  height: 16em;
  margin: 20px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.project-card:hover {
  box-shadow: 0px 0px 20px #34515e;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.01);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.01);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.01);
  transition: all 200ms ease-in;
  transform: scale(1.01);
}

.language-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 12px;
  align-items: center;
}

.language-tags {
  margin: 3px;
  padding: 2px 10px 2px 10px;
  background-color: #F6A03D;
  -moz-border-radius: 6px;
  border-radius: 6px; /* standards-compliant: (IE) */
}

.footer-name {
  font-size: 14px;
}

.about-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 100px;
  height: 1em;
  background-color: #8eacbb;
}

.about-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-top: 32px;
  color: #34515e;
}

.about-content-width {
  width: 60%;
  max-width: 800px;
  margin: 0% 10% 2% 10%;
}

.header-content {
  font-size: 35px;
  padding-bottom: 16px;
}

.about-main {
  margin-bottom: 16px;
}

.tech-images {
  margin: 5px;
  max-width: 70px;
}

.projects-container .mat-card-image {
  height: 7em;
}

.column-center-container span {
  font-size: 1.1em;
}
