main, md-sidenav-container{
  height: 100%;
}

a {
  text-decoration: none;
  transition:all linear 0.5s;
}

span a {
  color: white;
}

a:hover {
  color: #F6A03D !important;
}

button {
  transition:all linear 0.5s;
}

button:hover {
  color: #34515e !important;
  background-color: #F6A03D !important;
}

md-toolbar.navbar span {
  padding: 5px;
}

md-toolbar.footer {
  background-color: #8eacbb;
}

.spacer {
  flex: 1 1 auto;
}

.test {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.test2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card {
  min-width: 250px;
  max-width: 45%;
  margin: 50px;
}

.card-header {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;

}

.profile-img {
  background-image: url('../assets/img/profile1.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

.nav-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1 1 auto;
}

.nav-button {
  padding: 30px;
}

.project-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-flow: row wrap;
  flex: 1 1 auto;
  min-height: 500px;
  height: 100%;
}

.project-header {
  font-size: 25px;
  padding-bottom: 10px;
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-card {
  flex: 1 1 auto;
  width: 300px;
  max-width: 300px;
  height: 300px;
  margin: 20px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.project-card:hover {
  box-shadow: 0px 0px 20px #34515e;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.01);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.01);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.01);
  transition: all 200ms ease-in;
  transform: scale(1.01);
}

.language-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 12px;
  align-items: center;
}

.language-tags {
  margin: 3px;
  padding: 2px 10px 2px 10px;
  background-color: #F6A03D;
  -moz-border-radius: 6px;
  border-radius: 6px; /* standards-compliant: (IE) */
}

.footer-name {
  font-size: 12px;
}

