.spacer {

  flex: 1 1 auto;

}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-container {
  display: flex;
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.mat-card-title {
  margin-top: .5em;
  font-size: 30px;
}

.mat-card-subtitle {
  font-size: 20px;
}
.profile-card {
  display: flex;
  min-width: 250px;
  width: 50%;
  margin: 1%;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  background-image: url('../assets/img/profile1.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  margin-right: 2em;
  margin-bottom: 2em;

}

.side-menu {
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mat-button {
  font-size: 25px;
}

footer {
  margin-top: 40px;
}

.footer-name {
  color: #b1b1b1;
  font-size: 12px;
}

.sidenav-content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
