@import '~@angular/material/_theming.scss';

@include mat-core();

$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-deep-orange, A100);
$warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($primary, $accent, $warn);

button:hover {
  color: #34515e;
  background-color: mat-color($accent);
}

a:hover {
  color: mat-color($accent) !important;
}

@include angular-material-theme($custom-theme);
