/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
}
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/

@import "_custom-theme";

.color-blue {
  color: #0a5abf;
}

.color-red {
  color: #890009;
}

.color-gray {
  color: #656771;
}

.color-brown {
  color: #714d31;
}
